name: "Nix CI"
on: [ pull_request.master, push.master, workflow_dispatch ]
jobs:
  nix-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31
    - run: nix build ./#agda2lambox --print-build-logs
